package ${package}.service;

import ${package}.vo.${className}Rsp;
import ${package}.vo.${className}Req;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {
	
	${className}Rsp get(${pk.attrType} ${pk.attrname});
	
	List<${className}Rsp> list(Map<String, Object> map);
	
	int count(Map<String, Object> map);
	
	int save(${className}Req ${classname});
	
	int update(${className}Req ${classname});
	
	int remove(${pk.attrType} ${pk.attrname});
	
	int batchRemove(${pk.attrType}[] ${pk.attrname}s);
}
